#testcontainer {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 200px;
    font-size: 1.2em;
}

.triggeritem, .optionitem {
    list-style: none;
}

.optionitem:hover {
    background: #ffe5e5;
}