.trigger-item, .option-item, .divider-item {
    list-style: none;
}

.hidden-option-items {
    display: none;
}

.option-items {

}

.option-item:hover {
    background: #cce5ff;
}

.divider-item {
    border-bottom: 1px solid #bbb;
}