.dropdown .stamp {
    display: none;
}

.triggeritem, .optionitem, .divideritem {
    list-style: none;
}

.optionitem:hover {
    background: #cce5ff;
}

.divideritem {
    border-bottom: 1px solid #bbb;
}