.disabled-option-item {
    border: 1px solid #b00020;
}

.disabled-trigger-item {
    border: 1px solid #b00020;
}

.trigger-item, .option-item, .divider-item {
    list-style: none;
}

.hidden-option-items {
    display: none;
}

.option-item:hover {
    background: #03A9F4;
    color:white
}

.divider-item {
    border-bottom: 1px solid #bbb;
}