.disabled-option-item {
    border: 1px solid #b00020;
}

.disabled-trigger-item {
    border: 1px solid #b00020;
}

.trigger-item, .option-item, .divider-item {
    list-style: none;
    padding-left: 8px;
}

.trigger-item {
    min-width: 240px;
    border-radius: 3px;
    border: 1px solid #bbb;
    align-content: center;
}

.option-items {
    height: 8em;
    overflow: auto;
    border-top: none;
    border: 1px solid #ddd;
}

.trigger-icon:hover, .option-item:hover {
    cursor: pointer;
}

.hidden-option-items {
    display: none;
}

.option-item:hover {
    background: #03A9F4;
    color:white
}

.divider-item {
    border-bottom: 1px solid #bbb;
}

.trigger-icon {
    width: 12px;
    height: 12px;
}

.trigger-toggle-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.trigger-text-container {
    flex: 1;
}

.trigger-icon-container {
    align-self: flex-end;
    width: 24px;
    height: 24px;
}